[Desktop Entry]
X-SnapInstanceName=ubuntu-desktop-bootstrap
Type=Application
Version=1.0
Name=Install Ubuntu 24.04.4 LTS
Comment=Install this system permanently to your hard disk
Keywords=ubiquity;
X-SnapAppName=ubuntu-desktop-bootstrap
Exec=/snap/bin/ubuntu-desktop-bootstrap
Icon=ubiquity
Terminal=false
Categories=GTK;System;Settings;

